{% extends "layout.html" %}
{% block body %}
    {% if session.logged_in %}
        <form action="{{ url_for('add_bill') }}" method=post class="form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label" for="datepicker">Date</label>
                <div class="col-sm-10">
                    <input id="datepicker" name="date" type="date" class="form-control" placeholder="yyyy-mm-dd">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="description">Description</label>
                <div class="col-sm-10">
                    <input id="description" name="description" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="amount">Amount</label>
                <div class="col-sm-10">
                    <input id="amount" name="amount" type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label" for="paid_by">Paid by</label>
                <div class="col-sm-10">
                    <select id="paid_by" name="paid_by" class="form-control">
                        <option>katrien</option>
                        <option>martijn</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-10">
                    <button type="submit" value="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        {% if bills %}
            <div class="panel panel-default">
                <table class="table">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Paid by</th>
                    </tr>
                </thead>
                {% for bill in bills %}
                    <tr>
                        <td><a id="bill-date-{{ loop.index }}">{{ bill.date|datetime }}</a></td>
                        <td><a id="bill-description-{{ loop.index}}">{{ bill.description }}</a></td>
                        <td><a id="bill-amount-{{ loop.index}}">{{ bill.amount }}</a></td>
                        <td><a id="bill-paid_by-{{ loop.index}}">{{ bill.paid_by }}</a></td>
                        <script>
                            $('#bill-date-{{ loop.index }}').editable({
                               type: 'text',
                               title: 'Adapt test',
                               url: '/add'
                           });
                        </script>
                        <script>
                            $('#bill-description-{{ loop.index }}').editable({
                               type: 'text',
                               title: 'Adapt test',
                               url: '/add'
                           });
                        </script>
                        <script>
                            $('#bill-amount-{{ loop.index }}').editable({
                               type: 'text',
                               title: 'Adapt test',
                               url: '/add'
                           });
                        </script>
                        <script>
                            $('#bill-paid_by-{{ loop.index }}').editable({
                               type: 'text',
                               title: 'Adapt test',
                               url: '/add'
                           });
                        </script>
                    </tr>
                {% endfor %}
                </table>
            </div>
        {% else %}
            <p><em>No entries thus far.</em></p>
        {% endif %}
    {% endif %}
{% endblock %}

