{% extends "layout.html" %}
{% block body %}
    <div class="page-header">
        <h1>billboy <small>only manages the bills</small></h1>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">Bills</div>
        <div class="panel-body">
            <form action="{{ url_for('submit_bill') }}" method="post" role="form">
                <div class="form-group col-md-2">
                    <input name="date" type="text" class="form-control datepicker" placeholder="Date">
                </div>
                <div class="form-group col-md-2">
                    <input name="description" type="text" class="form-control" placeholder="Description">
                </div>
                <div class="form-group col-md-2">
                    <input name="amount" type="number" class="form-control" placeholder="Amount">
                </div>
                <div class="form-group col-md-2">
                    <select name="paid_by" class="form-control">
                        <option>katrien</option>
                        <option>martijn</option>
                    </select>
                </div>
                <div class="form-group col-md-4">
                    <button type="submit" name="btn" value="submit" class="btn btn-primary">Submit</button>
                </div>
            </form> 
        </div>
        
        {% if bills %}
        <form action="/edit" method="post" role="form">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Description</th>
                        <th>Amount</th>
                        <th>Paid by</th>
				        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    {% for bill in bills %}
                    <tr class="view" id="bill-view[{{ bill.id }}]">
                        <td class="col-md-2">{{ bill.date|datetime }}</td>
                        <td class="col-md-2">{{ bill.description }}</td>
                        <td class="col-md-2">{{ bill.amount }}</td>
                        <td class="col-md-2">{{ bill.paid_by }}</td>
			            <td class="col-md-4">
				            <div class="form-group">
					            <button type="button" name="btn" value="edit[{{ bill.id }}]" class="btn btn-primary bill view col-md-2">Edit</button>
					            <button type="submit" name="btn" value="delete[{{ bill.id }}]" class="btn btn-danger bill view col-md-2">Delete</button>
				            </div>
			            </td>
                    </tr>
                
                    <tr class="edit" id="bill-edit[{{ bill.id }}]">
                        <td class="col-md-2">
                            <div class="form-group">
                                <input name="date[{{ bill.id }}]" type="text" class="form-control datepicker" value="{{ bill.date|datetime }}">
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                <input name="description[{{ bill.id }}]" type="text" class="form-control" placeholder="Description" value="{{ bill.description }}">
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                <input name="amount[{{ bill.id }}]" type="number" class="form-control" placeholder="Amount" value="{{ bill.amount }}">
                            </div>
                        </td>
                        <td class="col-md-2">
                            <div class="form-group">
                                <select name="paid_by[{{ bill.id }}]" class="form-control">
                                    <option>katrien</option>
                                    <option>martijn</option>
                                </select>
                            </div>
                        </td>
				        <td class="col-md-4">
					        <div class="form-group">
						        <button type="button" name="btn" value="cancel[{{ bill.id }}]" class="btn btn-default bill edit col-md-2">Cancel</button>
						        <button type="submit" name="btn" value="update[{{ bill.id }}]" class="btn btn-primary bill edit col-md-2">Update</button>
					        </div>
				        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </form>
        {% endif %}
    </div>
    {% if bills %}
    <div class="panel panel-default">
        <div class="panel-heading">Stats</div>
        <div class="panel-body">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Paid By</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>katrien</td>
                        <td>
                            {% if balances.katrien < 0 %}
                            <span class="label label-danger">
                            {% else %}
                            <span class="label label-success">
                            {% endif %}
                            {{ balances.katrien }}
                            </span>
                        </td>
                    </tr>
                    <tr>
                        <td>martijn</td>
                        <td>
                            {% if balances.martijn < 0 %}
                            <span class="label label-danger">
                            {% else %}
                            <span class="label label-success">
                            {% endif %}
                            {{ balances.martijn }}
                            </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <form action="{{ url_for('select_month') }}" method="post" role="form">
                <div class="form-group col-md-2">
                    <input name="month" type="text" class="form-control monthpicker" placeholder="Month">
                </div>
                <div class="form-group col-md-2">
                    <button type="submit" name="btn" value="submit" class="btn btn-primary">Select</button>
                </div>
            </form>
        </div>
    </div>
    {% endif %}
{% endblock %}

