<!doctype html>
<title>billboy</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--link type="text/css" href="{{ url_for('static', filename='style.css' )}}" rel="stylesheet"-->

<!-- signin: from bootstrap examples -->
<link type=text/css href="{{ url_for('static', filename='signin.css' )}}" rel="stylesheet">

<!-- jquery -->
<script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>

<!-- bootstrap -->
<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

<!-- bootstrap date picker -->
<link href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/css/datepicker.min.css" rel="stylesheet">
<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.2.0/js/bootstrap-datepicker.js"></script>

<!-- bootstrap form validation -->

<script type="text/javascript">
    var $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
</script>

<script src="{{ url_for('static', filename='billboy.js' )}}"></script>

<body>
    <div class="container">
        {% block body %}{% endblock %}
        {% for category, message in get_flashed_messages(with_categories=true) %}
            <div class="flash alert alert-dismissable alert-{{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
</body>

